# ignoring directories
obj/
src/work-directory/results
results/

# ignore known executables
domain-spliting
gauss_e2s
gauss_qgp
gauss_whs
gubser
gubser_e2s
example
cubic_dome
sph-dens
plot_densities
src/work-directory/table-creation
src/work-directory/brendt

#ignore acessory file types
*~
*.dat
*.eos
*.cfg
*.aux
*.log
*.tex
*.jpg
*.pfg
*.eps
